body {
    font-family: Arial, sans-serif;
    background-color: #bae0f3;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #000000;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 380px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    position: absolute;
    top: 20px;
    right: 20px;
    /*color: #000;*/
    font-size: 18px;
}

.image-container {
    display: flex; /* Use Flexbox to arrange the images horizontally */
    justify-content: space-between; /* Space the images evenly */
    margin: 20px 0; /* Add margin to separate the images from the paragraphs */
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
}

/* Style individual images */
.img-container {
    max-width: 48%; /* Adjust the width as needed to fit your design */
    min-width: 45%;
    height: auto; /* Maintain aspect ratio */
    flex-basis: calc(50% - 10px);
}

.fig_img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
}

.autocomplete-suggestions {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px; /* Adjust this value as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    /*position: absolute; /* Ensures the suggestions don't affect layout of other elements */
    width: calc(100% - 22px); /* Adjust width to match the input field, accounting for padding/borders */
    background-color: #fff;
}

.autocomplete-suggestions div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-suggestions div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
}

