<!DOCTYPE html>
<html>
<head>
    <title>NBA Player Salary Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>NBA Player Salary Prediction</h1>
    <form method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" required>
        <br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" required>
        <br>
        <input type="submit" value="Predict Salary">
    </form>
    {% if player_not_found %}
    <script>
        // JavaScript code to display a pop-up if the player is not found
        window.addEventListener('DOMContentLoaded', function() {
            alert('Player not found. Please check the player name.');
        });
    </script>
    {% elif predicted_salary %}
    <h2>Salary Prediction:</h2>
    <p>Predicted Salary: ${{ predicted_salary }}</p>
    <p>Actual Salary: ${{ actual_salary }}</p>
    <p>{{ message }}</p>
    {% endif %}
    <a href="/how_does_this_work">How Does this Work?</a>
    
    
</body>
</html>