<!DOCTYPE html>
<html>
<head>
    <title>NBA Player Salary Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>NBA Player Salary Prediction</h1>
    <form method="POST">
        <label for="player_name">Player Name:</label>
        <input type="text" name="player_name" id="player_name" required autocomplete="off" spellcheck="false">
        <div id="autocomplete-suggestions" class="autocomplete-suggestions"></div>
        <br>
        <input type="submit" value="Predict Salary">
    </form>
    {% if player_not_found %}
    <script>
        // Pass Flask variables to JavaScript
        var player_not_found = {% if player_not_found %}true{% else %}false{% endif %};
    </script>
    {% elif predicted_salary %}
    <h2>Salary Prediction:</h2>
    <p>Predicted Salary: ${{ predicted_salary }}</p>
    <p>Actual Salary: ${{ actual_salary }}</p>
    <p>{{ message }}</p>
    {% endif %}
    <a href="/how_does_this_work">How Does this Work?</a>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>